<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.mixin.mapper.MyFriendsMapper">

    <select id="queryFriendList"
            resultType="com.lemon.mixin.entity.vo.MyFriendsVO"
            parameterType="string">
     SELECT
       u.id         AS friendUserId,
       u.username   AS friendUsername,
       u.face_image AS friendFaceImage,
       u.nickname   AS friendNickname
      FROM   my_friends mf
       LEFT JOIN users u
              ON u.id = mf.my_friend_user_id
      WHERE  mf.my_user_id = #{userId}
    </select>

</mapper>
